fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-experimental
langchain-openai
langchain-huggingface
langchain-chroma
langsmith
langchain-google-genai
chromadb
pypdf
sentence-transformers
rank_bm25
pydantic
pdfplumber
